Frameworks/hw-framework-common/src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="bookType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

		<!--<xs:complexType>-->
			<!--<xs:sequence>-->
				<!--<xs:element name="book" maxOccurs="unbounded">-->
					<!--<xs:complexType>-->
                        <!--<xs:simpleContent>-->
                            <!--<xs:extension base="xs:string">-->
                                <!--<xs:attribute name="isbn" type="xs:integer"/>-->
                            <!--</xs:extension>-->
                        <!--</xs:simpleContent>-->
					<!--</xs:complexType>-->
				<!--</xs:element>-->
			<!--</xs:sequence>-->
		<!--</xs:complexType>-->
        <xs:unique name="uniquebook">
            <xs:selector xpath="book"/>
            <xs:field xpath="@isbn"/>
        </xs:unique>
	</xs:element>

    <!-- bookType definition -->
    <xs:complexType name="bookType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="isbn" type="xs:integer"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>

