Frameworks/hw-framework-common/src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Values">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="value">
                    <xs:complexType>
                        <xs:attribute name="Code"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
