Frameworks/hw-framework-common/src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="capabilityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="capability" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="capabilityGroup" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="enabled" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="capability">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="values" minOccurs="0"/>
        <xs:element ref="value" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="province" type="xs:string"/>
  <xs:element name="values">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="province"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="testStringCapability"/>
        <xs:enumeration value="testBooleanCapability"/>
        <xs:enumeration value="testIntCapability"/>
        <xs:enumeration value="testFloatCapability"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="currentProvince" type="xs:string"/>
  <xs:element name="value">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="version" type="xs:string"/>
  <xs:element name="runMode" type="xs:string"/>
  <xs:element name="capabilityConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="version"/>
        <xs:element ref="currentProvince"/>
        <xs:element ref="runMode"/>
        <xs:element ref="capabilityGroup">
          <xs:annotation>
            <xs:documentation>A test group for testing the capability frame. Meant to be used for testing and an example only.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>